{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Login{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col py-5">

            <h1>Login</h1>

            {# {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form._username, 'Username') }}
                {{ form_widget(form._username, {'attr': {'class': 'form-control-sm'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form._password, 'Password') }}
                {{ form_widget(form._password, {'attr': {'class': 'form-control-sm'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form._remember_me, {'label': 'Remember me ?'}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.ok, {'label': 'Submit', 'attr': {'class': 'btn-sm btn-success'}}) }}
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form) }} #}

            {# {% dump %} #}

            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control form-control-sm" placeholder="Username" required autofocus>
                </div>
                
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control form-control-sm" placeholder="Password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                    
                <button class="btn btn-sm btn-primary" type="submit" id ="submit">Sign in</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}