{{ form_start(form) }}

    {{ form_row(form._token) }}

    <div class="form-group mb-2">
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend d-none d-sm-block">
                <div class="input-group-text"><i class="fas fa-unlock-alt mr-2"></i> New password</div>
            </div>
            {{ form_widget(form.plainPassword.first, { 'attr': { 'placeholder': 'Password', 'required': true } }) }}
            {{ form_widget(form.plainPassword.second, { 'attr': { 'placeholder': 'Repeat', 'required': true } }) }}
        </div>
    </div>

    {% if form.plainPassword.first.vars.errors|length %}
    <div class="form-group mb-2">
        <code class="mt-1 text-danger">
            {% for error in form.plainPassword.first.vars.errors %}
            <i class="fas fa-exclamation-triangle"></i> {{ error.message }}
            {% endfor %}
        </code>
    </div>
    {% endif %}
    {% if form.vars.errors|length %}
    <div class="form-group mb-2">
        <code class="mt-1 text-danger">
            {% for error in form.vars.errors %}
            <i class="fas fa-exclamation-triangle"></i> {{ error.message }}
            {% endfor %}
        </code>
    </div>
    {% endif %}

    <div class="form-group mt-1 mb-1 text-xs-left text-sm-right">
        {{ form_widget(form.submit, { 'label': 'Submit', 'attr': { 'class': 'btn-dark' } }) }}
    </div>
    
{{ form_end(form) }}
